.DumpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 500;
  margin-top: 2%;

  .orbit-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .add-btns {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .add {
    text-align: end;
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
    width: 58%;
    margin: 6% auto 0;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }

  .dump-header {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 4rem;
    margin: 0;
    letter-spacing: 2px;
    user-select: none;
  }

  .note {
    background: linear-gradient(180deg, #000000 0%, #000000 100%);
    border-radius: 5px;
    margin: 1% 0;
    width: 80%;
    cursor: pointer;
    transition: 0.2s ease-out;

    &:hover {
      transition: 0.2s ease-out;
      transform: scale(1.02);
      background: linear-gradient(180deg, #5f14ff 0%, #6c12dd 100%);
    }
  }

  .message {
    padding: 0 2%;
    color: whitesmoke;
    height: 4.3em;
    overflow: hidden;
  }

  .time-left {
    color: grey;
    font-size: 1.2rem;
    text-align: right;
    margin-bottom: 0;
    margin-right: 2%;
  }
}

.background {
  position: absolute;
  mix-blend-mode: screen;
  position: fixed;
  opacity: 0.8;
  filter: contrast(120%);
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  object-fit: cover;
  height: 100vh;
  user-select: none;
  pointer-events: none;
}
