.DumpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 500;
    margin-top: 5%;

    .add {
        align-self: flex-end;
        margin-right: 11%;
        color: whitesmoke;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }

    .dump-header {
        color: whitesmoke;
        text-transform: uppercase;
        font-size: 5rem;
        margin: 0;
        margin-left: 10%;
        align-self: flex-start;
        letter-spacing: 2px;
    }

    .note {
        background: linear-gradient(180deg, #000000 0%, #000000 100%);
        border-radius: 5px;
        margin: 1% 0;
        width: 80%;
        cursor: pointer;
        transition: 0.2s ease-out;
    }

    .note:hover {
        transition: 0.2s ease-out;
        transform: scale(1.02);
        background: linear-gradient(180deg, #5f14ff 0%, #6c12dd 100%);
    }

    .message {
        padding: 0 2%;
        color: whitesmoke;
        height: 4.3em;
        overflow: hidden;
    }

    .time-left {
        color: grey;
        font-size: 1.2rem;
        text-align: right;
        margin-bottom: 0;
        margin-right: 2%;
    }
}

.background {
    position: absolute;
    mix-blend-mode: screen;
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}