.Login {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    form {
        width: max-content;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;

        button {
            align-self: center;
        }
    }
}